html {
  overflow-y: auto;
}

body {
  font-family: "Poppins" !important;
}

.v-application {

  .text-h1,
  .text-h2,
  .text-h3,
  .text-h4,
  .text-h5,
  .text-h6,
  .text-subtitle-1,
  .text-subtitle-2,
  .text-body-1,
  .text-body-2,
  .text-button,
  .text-caption,
  .text-overline {
    font-family: "Poppins" !important;
  }

  .v-table__wrapper>table>thead>tr>th {
    background: #F5F5F5 !important;
  }

}

.v-list-item-subtitle {
  opacity: 1 !important;
  line-height: unset !important;
}